@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-touch-callout: none;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;

  font-family: "Noto Sans KR", sans-serif;
}

ul,
li,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
.link {
  text-decoration: none;
  color: rgb(32, 32, 32);
}
