@import "../../styles/base.scss";
.sidebar {
  width: 15rem;
  height: 100%;
  position: sticky;
  top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-right: 4rem;
  justify-content: center;
}
.sidelogo {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $border-color;
  padding: 1rem;
  border-radius: 0.5rem;
  img {
    width: 80%;
  }
}

.sidemenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(223, 223, 223, 0.918);
  border-radius: 0.5rem;
  font-size: 0.9rem;
  font-weight: 400;
  color: $light-mode;
  overflow: hidden;
  li {
    padding: 0.7rem;
    cursor: pointer;
    .sidebaricon {
      font-size: 1rem;
      margin-right: 0.5rem;
    }
  }

  .act {
    background-color: rgb(241, 241, 241);
  }
}
