@import "../../styles/base.scss";

.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include set-section;
  margin-bottom: 0;
  padding: 1rem;

  @include set-detail-more;
}
