@import "../src/styles/base.scss";
.home {
  width: 50rem;
  display: flex;
  margin: 0 auto;
  margin-top: 2.5rem;
  height: max-content;

  .main {
    width: 45rem;
    border: 1px solid $border-color;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
