$border-color: rgb(179, 179, 179);
$isaac-color: #d3313a;
$light-mode: rgb(32, 32, 32);
$night-mode: rgb(226, 226, 226);

@mixin set-section {
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid $border-color;
  margin-bottom: 1.5rem;
  color: $light-mode;
}

@mixin set-menu {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid $border-color;
  color: $light-mode;
}

@mixin set-detail-more {
  h3 {
    color: $isaac-color;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 60%;
    }

    span {
      font-size: 0.9rem;
      font-weight: 400;
      color: lightgray;
    }
    p {
      text-align: center;
      width: 80%;
      padding: 0.5rem;
      word-break: keep-all;
      font-size: 0.9rem;
    }
    input {
      border: none;
      margin-top: 0.5rem;
      margin-right: 0.5rem;
      padding: 0.5rem;
      background-color: $light-mode;
      border-radius: 0.5rem;
      color: $night-mode;
      cursor: pointer;
    }
    button {
      border: none;
      margin-top: 0.5rem;
      padding: 0.5rem;
      background-color: $light-mode;
      border-radius: 0.5rem;
      color: $night-mode;
      cursor: pointer;
    }
  }
}
