@import "../index.scss";
$border-color: rgb(179, 179, 179);
$isaac-color: #d3313a;
$light-mode: rgb(32, 32, 32);
$night-mode: rgb(226, 226, 226);

@mixin set-section {
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  margin-bottom: 1.5rem;
  color: var(--night-mode);
  h3 {
    color: var(--isaac-color);
  }
  span {
    font-size: 0.9rem;
    font-weight: 400;
  }
}

@mixin set-menu {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  color: var(--night-mode);
}

@mixin set-detail-more {
  h3 {
    color: var(--isaac-color);
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 60%;
    }

    span {
      font-size: 0.9rem;
      font-weight: 400;
      color: var(--gray);
    }
    p {
      text-align: center;
      width: 80%;
      padding: 0.5rem;
      word-break: keep-all;
      font-size: 0.9rem;
    }
    input {
      border: none;
      margin-top: 0.5rem;
      margin-right: 0.5rem;
      padding: 0.5rem;
      background-color: var(--light-mode);
      border-radius: 0.5rem;
      color: var(--night-mode);
      cursor: pointer;
    }
    button {
      border: none;
      margin-top: 0.5rem;
      padding: 0.5rem;
      background-color: var(--light-mode);
      border-radius: 0.5rem;
      color: var(--night-mode);
      cursor: pointer;
    }
  }
}
